@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

:root {
  --primary-color: #fd951f;
  --secondary-color: #0ed43f;
  --white-color: #FFF;


  font-size: 60%; /* controle das medidas rem */
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  border: none;

  box-sizing: border-box;
  
}

html, body {
  min-height: 100vh;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color:  #f9f9f9;
}

.container {
  width: 90%;
  max-width: 940px;
  margin: 0 auto;
}

.button {
  background-color: var(--primary-color);
  color: var(--white-color);
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.6rem;

  display: block;
  margin-bottom: 1.6rem;
  padding: 1.2rem 1.6rem;
  text-align: center;
  
  width: 100%;
  border-radius: 0.8rem;
  cursor: pointer;

  transition: all 0.2s;
  outline: none;
  /*botão sempre no final em display grid*/
  align-self: end;
}

.button:hover {
  background-color: #df7905fb;
}

.button.delete {
  background-color: lightslategray;
}

.button.delete:hover {
  background-color: #ce0404;
}

/*=========MOBILE FIRST===============*/
/*HEADER*/
header, footer {
  background-color: black;
  color: var(--white-color);

  width: 100%;
  padding: 3.2rem 0;

  text-align: center;
}

footer {
  font-size: 1.6rem;
}

header div.container {
  display: grid;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  gap: 2.4rem;
}

/*LOGO*/
.logo h1 {
  color: var(--white-color);
  font-size: 3.2rem;
  line-height: 4.2rem;
}

.logo h2 {
  color: var(--primary-color);
  font-size: 1.8rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
}

/*HEADER SEARCH*/
.search input {
  width: 100%;
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  font-size: 1.6rem;
}

/*PRIMARY MENU*/
nav.primary ul {
  display: flex;
  flex-direction: column;
}

nav.primary ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;

  color: var(--white-color);
  font-size: 1.6rem;
}

nav.primary ul li a:hover {
  color: var(--primary-color);

  transition: 300ms;
}

nav.primary ul li a i {
  margin-right: 0.8rem;
}

/*PRODUCT FORM*/
section.form {
  background-color: var(--white-color);

  padding: 3.2rem 2.4rem;
  margin: 3.2rem auto;

  box-shadow: 0.2rem 0.2rem 0.2rem -0.4rem rgba(63, 63, 63, 0.9);
  border: 1px solid #efefef;
  border-radius: 0.8rem;

  max-width: 700px;
  width: 90%;
}

section.form .header h3 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  text-transform: uppercase;

  font-weight: bold;
  color: var(--primary-color);
  margin-bottom: 2rem;
}

form .fields {
  margin-bottom: 6.4rem;
}

form .item {
  margin-bottom: 3.2rem;
}

form .item > div:nth-child(1) {
  color: #777;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: bold;

  margin-bottom: 0.8rem;
}

form .item input[type="text"],
form .item input[type="number"],
form .item textarea,
form .item select {
  width: 100%;
  padding: 0.8rem 1.6rem;

  box-shadow: 0.2rem 0.2rem 0.2rem -0.4rem rgba(63, 63, 63, 0.9);

  border: 1px solid #efefef;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  outline: none;
}

form .item select {
  appearance: none;

  /* Estilizar o select completo */
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
    linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;

  color: var(--primary-color);
  font-weight: bold;
}

form .item select option {
  color: var(--primary-color);
  font-weight: bold;
}

form .item textarea {
  min-height: 15rem;
  resize: vertical;
}

form .fields span {
  padding: 0.8rem 1.6rem;
  background-color: var(--primary-color);
  border-radius: 1.6rem;
  color: var(--white-color);
  margin-right: 0.4rem;
  margin-top: 0.8rem;
  display: inline-block;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.2rem;
}

form .fields span input {
  margin-right: 0.4rem;
  margin-top: 0.2rem;
}

/*PHOTOS UPLOAD*/
form .item #photos-upload {
  position: relative;

  display: block;
  overflow: hidden;

  width: 20rem;
}

form .item #photos-upload p {
  padding: 0.8rem 1.6rem;
  border-radius: 0.4rem;
  box-shadow: 0 0.2rem 0.2rem -0.6rem #333;
  background-color: var(--primary-color);
  color: var(--white-color);
  font-size: 1.3rem;

  width: 100%;
  text-align: center;

  text-transform: uppercase;
}

form .item #photos-input {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  display: block;
  overflow: hidden;

  width: 100%;
  height: 100%;
  opacity: 0;

  cursor: pointer;
}

form .item #photos-preview {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.8rem;

  width: 100%;
  margin: 0.8rem 0;
}

form .item #photos-preview img {
  width: 100%;
  height: 150px;

  object-fit: contain;
}

#photos-preview .photo {
  position: relative;
}

#photos-preview .photo i {
  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(63, 63, 63, 0.3);
  color: var(--primary-color);

  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  
  font-size: 500%;
  cursor: pointer;

  transition: opacity 200ms;

  opacity: 0;
}

#photos-preview .photo:hover i {
  opacity: 1;
}



/*=============DESKTOP================*/
@media(min-width: 700px) {

  header div.container {
    grid-template-columns: 220px auto 280px;
  }
  
  /*LOGO*/
  .logo h1 {
    color: var(--white-color);
    font-size: 32px;
    line-height: 42px;
  }
  
  .logo h2 {
    color: var(--primary-color);
    font-size: 16px;
    line-height: 18px;
    letter-spacing: 2px;
  }
  
  /*HEADER SEARCH*/
  .search input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    font-size: 16px;
  }

  /*PRIMARY MENU*/
  nav.primary ul {
    flex-direction: row;
    justify-content: space-between;
  }


}
